^{:ring-handler opengb.figwheel-handler/handler
  :ring-server-options {:port 9700}}
{:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true goog.DEBUG true}
 :devcards true ;; nb: `defcard` no-ops without this set
 :infer-externs true
 :main opengb.devcards-runner
 :npm-deps false
 :output-dir "target/public/cljs-out/dev"
 :preloads [day8.re-frame-10x.preload devtools.preload]
 :verbose false}
