#kaocha/v1
{:tests [{:id :cljs/unit
          :type :kaocha.type/cljs
          :source-paths ["src"]
          :test-paths ["test"]
          :cljs/compiler-options {:foreign-libs [{:file "test/shims/window.js"}]}}]
 :plugins [:kaocha.plugin/notifier]}
